.tim-grotivate {
    position: fixed;
    left: relative;
    width: 60%;
    top: 40%;
    background: #888888;
    border-style: solid;
    border-radius: 0px 8px 8px 0px;
    border-width: 1px 2px 4px 0px ;
    border-color: black;
    opacity: 0.93;
    filter: alpha(opacity=93);
}
  
.tim-grotivate .tim-image {
    position: relative;
    top: 10px;
    left: 8px;
    width: 97%;
    background: #B0B0B0;
    border-style: solid;
    border-radius: 3px 3px 3px 3px;
    border-width: 4px 2px 1px 1px ;
    border-color: black;
}

.tim-grotivate .tim-quote{
    position: relative; 
    left: 300px;
    bottom: 100px;
    font-size: larger;
    font-family: fantasy;    
}


.tim-grotivate .tim-hide  {
    opacity: 0;
    width: 0%;
    height: 0%;
}

